<div class="icon-box-cnt border-bottom py-3 align-items-center">
    <div class="row">
      <div class="col-12 col-md-4 col-lg-5 mb-3 mb-lg-0">
        <span class="d-block text-nowrap sm-text mb-2">Saved searches</span>
        <div class="input-group w-100">
          <select class="form-control rounded">
            <option value="1">Iš prancūzų - Renault (9)</option>
            <option value="2">Iš prancūzų - Renault (8)</option>
            <option value="3">Iš prancūzų - Renault (5)</option>
          </select>
          <div class="input-group-append ml-2">
            <button class="btn ctm-btn black-btn px-3 rounded">
              &plus;
            </button>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-8 col-lg-7 pl-3 pl-lg-5">
        <span class="d-block text-nowrap sm-text mb-2"
          >Latest searches</span
        >

        <div class="row mod-row align-items-center">
          <div
            class="mod-col col-6 col-md-4 mb-2 mb-md-0 d-none d-md-block"
          >
            <div class="icon-box icon-box1 d-flex justify-content-center">
              <div
                class="
                  d-flex
                  align-items-center
                  justify-content-center
                  v-sm-text
                  mr-3
                "
              >
                <span class="text-nowrap">Iš prancūzų - Rena</span>
                <span>(9)</span>
              </div>
              <div class="lbtn-2">
                <span class="cursor-pointer">
                  <img src="{{root}}assets/img/icons/dots.svg" alt="logo" />
                </span>
              </div>
            </div>
          </div>
          <div
            class="mod-col col-6 col-md-4 mb-2 mb-md-0 d-none d-md-block"
          >
            <div class="icon-box icon-box2 d-flex justify-content-center">
              <span class="cursor-pointer">
                <img src="{{root}}assets/img/icons/edit.svg" alt="logo" />
              </span>
              <span class="cursor-pointer">
                <img src="{{root}}assets/img/icons/email.svg" alt="logo" />
              </span>
              <span class="cursor-pointer">
                <img src="{{root}}assets/img/icons/trash.svg" alt="logo" />
              </span>
              <span class="cursor-pointer">
                <img
                  src="{{root}}assets/img/icons/close-b.svg"
                  alt="logo"
                />
              </span>
            </div>
          </div>
          <div class="mod-col col-6 col-md-4">
            <div class="icon-box icon-box1 d-flex justify-content-center">
              <div class="d-flex align-items-center v-sm-text mr-3">
                <span class="text-nowrap">Iš prancūzų - Rena</span>
                <span>(9)</span>
              </div>
              <div class="">
                <span class="cursor-pointer">
                  <img src="{{root}}assets/img/icons/dots.svg" alt="logo" />
                </span>
              </div>
            </div>
          </div>
          <div class="mod-col col-6 col-md-4 d-block d-md-none">
            <button
              class="
                icon-box
                v-sm-text
                icon-box3
                d-flex
                justify-content-center
                w-100
              "
            >
              <span class="">RECENT SEARCHES (12)</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>