
    <div class="card mod-card default-card mb-2 {{addClass}}">
      <div
        class="
          card-header
          p-md-0 p-1
          d-flex
          align-items-center
          justify-content-between
        "
      >
        <div class="ac-head-items d-flex align-items-center">
          <div class="ac-head-item d-flex align-items-center">
            <div class="ac-inner d-flex align-items-center">
              <img
                class="mr-2"
                src="{{root}}assets/img/icons/car-n.svg"
                alt="icon"
              />
              <span class="sm-text">10</span>
            </div>
          </div>
          <div class="ac-head-item d-flex align-items-center">
            <span
              ><img
                src="{{root}}assets/img/icons/auction.svg"
                alt="icon"
            /></span>
          </div>
          <div class="ac-head-item d-flex align-items-center">
            <span class="sm-text time">
              Starts 15:00
            </span>
            <span class="sm-text text-uppercase text-danger font-weight-bold hot-b">
              Hot bit
            </span>
          </div>
        </div>
      </div>
      <div class="card-body p-0">
          <table
            class="
              table 
              mb-0 
              dash-table
            "
          >
            <tbody>
              <tr>
                <td>A1 Paieška (21) Bent vienas pralaimintis</td>
              </tr>
              <tr>
                <td class="sm-text">
                   <span class="dl-name">Dealername</span>
                   <span class="less-p">
                    <strong class="color-orange mr-2 ">LeasePlan</strong>
                    <span class=" ">(Recommended) <img class="ml-10" src="{{root}}assets/img/icons/favorite.svg " alt="icon "></span>
                </span>
                </td>
              </tr>
              <tr>
                <td>
                  <div
                    class="
                      d-flex
                      align-items-center
                      justify-content-between
                    "
                  >
                    <span>
                      <span class="mr-2"
                        ><img
                          src="{{root}}assets/img/icons/flag-us.svg"
                          alt="icon"
                      /></span>
                      <span>ID: 112068</span>
                    </span>
                    <button
                      class="
                        btn
                        rounded-circle
                        sm-yr-btn
                        p-0
                        d-flex
                        align-items-center
                        justify-content-center
                      "
                    >
                      <img
                        src="{{root}}assets/img/icons/pin.svg"
                        alt="icon"
                      />
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>