
                <div class="act-car-item module-slider-wrap">
                    <div class="card b-color-2 bg-6">
                        <img class="card-img-top p-2" src="{{root}}assets/img/big-car.png" alt="Card image cap" />
                        <div class="card-body p-2">
                            <div class="d-flex align-items-center">
                                <div class="title-left font-weight-bold sm-text">AUDI A3 sportback (8vf) 4x4 multitronic distronic mega car</div>
                                <div class="title-right align-self-start text-right">
                                    <div><img src="{{root}}assets/img/icons/green-circle-up.svg" alt="icon" /></div>
                                </div>
                            </div>
                            <div class="font-size-10 pt-2 d-flex align-items-center">
                                <span class="mr-2">ID: 123434634</span>
                                <span class="mr-2 d-inline-flex align-items-center"><img class="mr-2" src="{{root}}assets/img/icons/flag-us.svg" width="14" height="10" alt="logo" /> 08/2016</span>
                                <span>134603 km</span>
                            </div>
                        </div>
                        <div class="card-body p-2">
                            <div class="bit-info-left pt-2 pb-1 font-size-10 border-bottom border-top b-color-2">
                                <dl class="row mb-0">
                                    <dd class="col-6">Dabartinė kaina:</dd>
                                    <dt class="col-6">€ 4 800</dt>
                                    <dd class="col-6">Mano siūlymas:</dd>
                                    <dt class="col-6">€ 4 800</dt>
                                    <dd class="col-6">MIN BID on iBID:</dd>
                                    <dt class="col-6">€ -</dt>
                                    <dd class="col-6">MIN BID on iBID:</dd>
                                    <dt class="col-6">€ -</dt>
                                </dl>
                            </div>
                            <div class="border-bottom b-color-2 mb-2 mt-2">
                                <div class="mx-1 mb-2 d-flex align-items-center md-w-100">
                                    <div class="cus-num-input w-100 md-w-100">
                                        <div class="quantity position-relative d-inline-block rounded border px-2 w-100 md-w-100 bg-white">
                                            <span class="quantity-add quantity-button d-inline-block float-right position-relative"></span>
                                            <span class="quantity-remove quantity-button d-inline-block float-right position-relative"></span>
                                            <input type="number" class="pl-4" step="1" min="1" value="20000">
                                            <i class="d-block position-absolute p-2 text-center font-">€</i>
                                        </div>
                                    </div>
                                    <button class="btn btn-link invisible d-block d-lg-none"><img src="assets/img/icons/feather-info-2.svg" alt="logo"></button>
                                </div>
                                <div class="mx-1 md-w-100 mb-2">
                                    <button class="btn btn-success text-uppercase w-100 md-w-100 font-size-15">
                                        CONFIRM BID <img class="d-none d-lg-inline-block" src="assets/img/icons/feather-info.svg" alt="logo">
                                    </button>
                                    <button class="btn btn-link d-block d-lg-none"><img src="assets/img/icons/feather-info-2.svg" alt="logo"></button>
                                </div>
                                <div class="mx-1 md-w-100 mb-2 d-flex align-items-center">
                                    <button class="btn black-bg text-white text-uppercase w-100 md-w-100 font-size-15">
                                        iBID assistant <img class="d-none d-lg-inline-block" src="assets/img/icons/feather-info.svg" alt="logo">
                                    </button>
                                    <button class="btn btn-link d-block d-lg-none"><img src="assets/img/icons/feather-info-2.svg" alt="logo"></button>
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="pr-3">
                                    <div class="py-2 font-size-10"><img class="mr-1" src="{{root}}assets/img/icons/auction.svg" width="12" alt="logo" /> Starts: Today 17:55</div>
                                    <div class="">
                                        <button class="btn ctm-btn py-1 font-s-8 px-3">FINAL CALL 2021-01-28 12:00 </button>
                                    </div>
                                </div>
                                <div class="pl-2 py-3 border-left">
                                    <a href="#">
                                        <img class="mr-2" src="{{root}}assets/img/icons/material-message.svg" alt="logo" />
                                    </a>
                                    <a href="#">
                                        <img  src="{{root}}assets/img/icons/location-off.svg" alt="logo" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>