
                <div class="card border-left-3">
                    <div class="card-body bg-5 p-2 border-right border-top border-bottom b-color rounded">
                        <div class="border-bottom b-color py-2">
                            <span class="mr-2"><img src="{{root}}assets/img/icons/two-cars-in-line2.svg " alt="icon" /></span>
                            <span class="mr-2"><img src="{{root}}assets/img/icons/pt-flug.svg " alt="icon" /></span>
                            <span class="sm-text font-weight-bold">Package ID: 125 (8)</span>
                        </div>
                        <div class="pk-list-item border-bottom b-color py-2">
                            <div class="list-scroll">
                                <a href="/package-inner.html" class="text-decoration-none">
                                    <table class="table table-borderless pk-table-res table-striped table-light sm-text">
                                        <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td class="mx-sm-2">Volvo V60</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">2</th>
                                                <td>Volvo V60</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3</th>
                                                <td>Volvo V60</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">4</th>
                                                <td>Volvo V60</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">5</th>
                                                <td>Volvo V60</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">6</th>
                                                <td>Volvo V60</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">7</th>
                                                <td>Volvo V60</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </a>
                            </div>
                        </div>
                        <div class="mt-2 border-bottom b-color mb-2">
                            <div class="cus-num-input position-relative">
                                <input type="number" class="form-control pl-4 pr-0" value="4900" />
                                <i class="d-block position-absolute p-2 text-center font-">€</i>
                            </div>
                            <div class="my-2 md-w-100 mb-2 d-flex align-items-center">
                                <button class="btn black-bg text-white text-uppercase w-100 md-w-100 font-size-15">
                                    submit bid <img class="d-none ml-2 d-lg-inline-block" src="assets/img/icons/feather-info.svg" alt="logo">
                                </button>
                                <button class="btn btn-link d-block d-lg-none"><img src="assets/img/icons/feather-info-2.svg" alt="logo"></button>
                            </div>
                        </div>
                        <div class="d-flex align-items-center mb-1 justify-content-between">
                            <div class="pr-3">
                                <div class="py-2 font-size-10">
                                    <img class="mr-1" src="{{root}}assets/img/icons/mail-b.svg" alt="logo" /> End: 2021-01-28 12:00</div>
                            </div>
                            <div class="pl-3 py-2 border-left b-color">
                                <a href="#">
                                    <img class="mr-2" src="{{root}}assets/img/icons/material-message.svg" alt="logo" />
                                </a>
                                <a href="#">
                                    <img src="{{root}}assets/img/icons/location-on.svg" alt="logo" />
                                </a>
                                <a href="#">
                                    <img class="d-none" src="{{root}}assets/img/icons/location-off.svg" alt="logo" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>