<div class="act-car-item module-slider-wrap">
    <div class="card position-relative">
        <img class="card-img-top p-2" src="{{root}}assets/img/big-car.png" alt="Card image cap" />
        <div class="card-body p-2">
            <div class="d-flex align-items-center">
                <div class="title-left font-weight-bold sm-text">AUDI A3 sportback (8vf) 4x4 multitronic distronic mega car</div>
                <div class="title-right align-self-start text-right">
                    <div><img src="{{root}}assets/img/icons/wraning-checkbox.svg" alt="icon" /></div>
                </div>
            </div>
            <div class="font-size-10 pt-2 d-flex align-items-center">
                <span class="mr-2">ID: 123434634</span>
                <span class="mr-2 d-inline-flex align-items-center"><img class="mr-2" src="{{root}}assets/img/icons/flag-us.svg" width="14" height="10" alt="logo" /> 08/2016</span>
                <span>134603 km</span>
            </div>
        </div>
        <div class="card-body p-2">
            <div>
                <ul class="list-group list-group-flush border-bottom border-top">
                    <li class="list-group-item ptb-13 px-0 font-size-10 font-weight-bold">
                        <div>Current price: € 5200</div>
                    </li>
                </ul>
            </div>
            <div class="d-flex align-items-start py-2 justify-content-between">
                <div class="pr-1">
                    <div class="py-2 font-size-10">
                        <img class="mr-1" src="{{root}}assets/img/icons/auction.svg" width="12" alt="logo" /> Starts: Today 17:55
                    </div>
                    <div class="mb-2">
                        <button class="btn ctm-btn py-1 font-s-8 px-3">FINAL CALL 2021-01-28 12:00 </button>
                    </div>
                    <div class="mb-2 font-size-10">
                        <img class="mr-2 mb-1" src="{{root}}assets/img/icons/flag-us.svg" width="14" height="10" alt="logo" />
                        HUB-LT (Gėlyno g. 10, LT-68100, Marijampolės sav., Lithuania)
                    </div>
                    <div class="">
                        <a href="" class="font-size-10 color-gray text-underline">Chose diferent location</a>
                    </div>
                </div>
                <div class="pl-2 py-3 border-left d-inline-flex">
                    <a href="#">
                        <img class="mr-2" src="{{root}}assets/img/icons/material-message.svg" alt="logo" />
                    </a>
                    <a href="#">
                        <img src="{{root}}assets/img/icons/location-on.svg" alt="logo" />
                    </a>
                    <a href="#">
                        <img class="d-none" src="{{root}}assets/img/icons/location-off.svg" alt="logo" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>