
                <div class="card border-left-3">
                    <div class="card-body p-2 border-right border-top border-bottom rounded">
                        <div class="border-bottom py-2">
                            <span class="mr-2"><img src="{{root}}assets/img/icons/two-cars-in-line2.svg " alt="icon" /></span>
                            <span class="mr-2"><img src="{{root}}assets/img/icons/pt-flug.svg " alt="icon" /></span>
                            <span class="sm-text font-weight-bold">Package ID: 125 (8)</span>
                        </div>
                        <div class="pk-list-item border-bottom py-2">
                            <div class="list-scroll">
                                <a href="/package-inner.html" class="text-decoration-none">
                                    <table class="table table-borderless pk-table-res table-striped table-light sm-text">
                                        <tbody>
                                            <tr>
                                                <th width="20%">1</th>
                                                <td width="80%">Volvo V60</td>
                                            </tr>
                                            <tr>
                                                <th>2</th>
                                                <td>Volvo V60</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3</th>
                                                <td>Volvo V60</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">4</th>
                                                <td>Volvo V60</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">5</th>
                                                <td>Volvo V60</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">6</th>
                                                <td>Volvo V60</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">7</th>
                                                <td>Volvo V60</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </a>
                            </div>
                        </div>
                        <ul class="list-group list-group-flush border-bottom">
                            <li class="list-group-item ptb-13 px-0 sm-text d-flex align-items-center justify-content-between flex-wrap">
                                <div>Buy now price: <strong>€ 97 000</strong></div>
                                <span class="text-danger">NEW PRICE</span>
                            </li>
                        </ul>
                        <div class="mt-2 border-bottom mb-2">
                            <div class="my-2 md-w-100 mb-2 d-flex align-items-center">
                                <button class="btn btn-success text-uppercase w-100 md-w-100 font-size-15">
                                    buy now <img class="d-none ml-2 d-lg-inline-block" src="assets/img/icons/feather-info.svg" alt="logo">
                                </button>
                                <button class="btn btn-link d-block d-lg-none"><img src="assets/img/icons/feather-info-2.svg" alt="logo"></button>
                            </div>
                        </div>
                        <div class="d-flex align-items-center mb-1 justify-content-between">
                            <div class="pr-3">
                                <div class="py-2 font-size-10"><img class="mr-1" src="{{root}}assets/img/icons/mail-b.svg" alt="logo" /> End: 2021-01-28 12:00</div>
                            </div>
                            <div class="pl-3 py-2 border-left">
                                <a href="#">
                                    <img class="mr-2" src="{{root}}assets/img/icons/material-message.svg" alt="logo" />
                                </a>
                                <a href="#">
                                    <img src="{{root}}assets/img/icons/location-on.svg" alt="logo" />
                                </a>
                                <a href="#">
                                    <img class="d-none" src="{{root}}assets/img/icons/location-off.svg" alt="logo" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>