<div class="broker-nav black-bg d-none d-md-block">
    <div class="container">
        <ul class="nav h-40">
            <li class="nav-item mb-md-0">
                <a class="nav-link text-white text-capitalize active" href="/broker-actual-cars.html">Actual Cars (4)</a>
            </li>
            <li class="nav-item mb-md-0">
                <a class="nav-link text-white text-capitalize" href="/">Under consideration (0)</a>
            </li>
            <li class="nav-item mb-md-0">
                <a class="nav-link text-white text-capitalize" href="/broker-confirm.html">Confirmed cars (1)</a>
            </li>
            <li class="nav-item mb-md-0">
                <a class="nav-link text-white text-capitalize" href="/broker-cancelled-cars.html">Cancelled cars (0)</a>
            </li>
            <li class="nav-item mb-md-0">
                <a class="nav-link text-white text-capitalize" href="/broker-received-cars.html">Received cars (0)</a>
            </li>
        </ul>
    </div>
  </div>