<div class="d-block d-md-none b-nav-icon">
    <div
      class="
        icon-box icon-box1
        d-flex
        justify-content-center
        w-120
        font-weight-bold
        black-bg
      "
      data-toggle="dropdown"
    >
      <div class="lbtn-2">
        <span class="cursor-pointer">
          <img
            class="active-img"
            src="{{root}}assets/img/icons/dots.svg"
            alt="logo"
          />
          <img
            class="inactive-img"
            src="{{root}}assets/img/icons/dot-inactive.svg"
            alt="logo"
          />
        </span>
      </div>
      <div
        class="
          d-flex
          align-items-center
          justify-content-center
          v-sm-text
          ml-2
          text-warning
          active
        "
      >
        <span class="text-nowrap">Broker menu</span>
      </div>
    </div>
    <div
      class="
        dropdown-menu
        broker-nav-mobile
        m-0
        p-4
        black-bg
        w-100
        border-0
        rounded-0
      "
    >
      <div class="broker-nav">
        <ul class="nav flex-column align-items-start">
          <li class="nav-item mr-35 mb-4 mb-md-0">
            <a
              class="nav-link text-white text-capitalize active"
              href="/broker-actual-cars.html"
              >Actual Cars (4)</a
            >
          </li>
          <li class="nav-item mr-35 mb-4 mb-md-0">
            <a class="nav-link text-white text-capitalize" href="/"
              >Under consideration (0)</a
            >
          </li>
          <li class="nav-item mr-35 mb-4 mb-md-0">
            <a
              class="nav-link text-white text-capitalize"
              href="/broker-confirm.html"
              >Confirmed cars (1)</a
            >
          </li>
          <li class="nav-item mr-35 mb-4 mb-md-0">
            <a
              class="nav-link text-white text-capitalize"
              href="/broker-cancelled-cars.html"
              >Cancelled cars (0)</a
            >
          </li>
          <li class="nav-item mr-35 mb-4 mb-md-0">
            <a class="nav-link text-white text-capitalize" href="/broker-received-cars.html"
              >Received cars (0)</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>