
            <div class="s-car-list mb-3 pb-1">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-md-3 pr-3 pr-md-1">
                                <div class="card mb-3 mb-md-0">
                                    <img class="card-img-top" src="{{root}}assets/img/car-big.jpg" alt="Card image cap">
                                </div>
                            </div>
                            <div class="col-12 col-md-7 pr-3 pr-md-1">
                                <div> <h5 class="font-weight-bold text-truncate sm-md-title">AUDI A3 sportback (8vf) 4x4</h5></div>
                                <div class="d-flex align-items-center flex-wrap border-bottom py-2 ">
                                    <div class="d-flex align-items-center mb-2 pr-2">
                                        <span><img class="mr-2" src="{{root}}assets/img/icons/flag-us.svg" width="20" height="14" alt="logo"></span>
                                        <span>Car ID: <strong>12323456</strong></span>
                                    </div>
                                    <div class="mb-2 px-2">2016-07-01</div>
                                    <div class="mb-2 px-2">Diesel</div>
                                    <div class="mb-2 px-2">1999 cm3</div>
                                    <div class="mb-2 px-2">Automatic</div>
                                    <div class="mb-2 px-2">194,558 km</div>
                                </div>
                                <div class="d-flex align-items-center my-3">
                                    <div class="mr-3">
                                        <span><img class="mr-2" src="{{root}}assets/img/icons/mail-b.svg" width="20" height="14" alt="logo"></span>
                                        <span class="sm-text">Minimal price: €11 700</span>
                                    </div>
                                    <div>
                                        <span class="sm-text">End: Today 15:00</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-2 text-right">
                                <button type="button" class="btn btn-warning broker-btn sm-text font-weight-bold py-2 px-3" data-toggle="collapse" data-target="#{{id}}" >
                                    <img src="{{root}}assets/img/icons/checkmark-outline.svg" alt="icon " class="mr-2 active-br-i">
                                    <img  src="{{root}}assets/img/icons/circle-outline.svg" alt="icon " class="mr-2 inactive-br-i">
                                    <span>BROKER</span>
                                </button>
                            </div>
                        </div>
                        <div class="pk-bit-info py-4 collapse" id="{{id}}">
                            <div class="d-block d-md-none">
                                <hr>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 col-md-5">
                                    <div class="bit-info-left">
                                        <dl class="row">
                                            <dd class="col-6">Dabartinė kaina:</dd>
                                            <dt class="col-6">€ 4 800</dt>
                                            <dd class="col-6">Mano siūlymas:</dd>
                                            <dt class="col-6">€ 4 800</dt>
                                            <dd class="col-6">MIN BID on iBID:</dd>
                                            <dt class="col-6">€ -</dt>
                                            <dd class="col-6">MIN BID on iBID:</dd>
                                            <dt class="col-6">€ -</dt>
                                        </dl>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-7">
                                    <div class="bit-info-right d-flex align-items-center justify-content-end flex-wrap">
                                        <div class="mx-1 mb-2 d-flex align-items-center md-w-100">
                                            <div class="cus-num-input md-w-100">
                                                <div class="quantity position-relative d-inline-block rounded border px-2 md-w-100 bg-white">
                                                    <span class="quantity-add quantity-button d-inline-block float-right position-relative"></span>
                                                    <span class="quantity-remove quantity-button d-inline-block float-right position-relative"></span>
                                                    <input type="number" class="pl-4" step="1" min="1" value="20000">
                                                    <i class="d-block position-absolute p-2 text-center font-">€</i>
                                                </div>
                                            </div>
                                            <button class="btn btn-link invisible d-block d-lg-none"><img src="assets/img/icons/feather-info-2.svg" alt="logo"></button>
                                        </div>
                                        <div class="mx-1 md-w-100 mb-2 d-flex align-items-center">
                                            <button class="btn btn-success text-uppercase md-w-100 font-size-15">CONFIRM BID <img class="d-none d-lg-inline-block"
                                                                                                                      src="assets/img/icons/feather-info.svg" alt="logo"></button>
                                            <button class="btn btn-link d-block d-lg-none"><img src="assets/img/icons/feather-info-2.svg" alt="logo"></button>
                                        </div>
                                        <div class="mx-1 md-w-100 mb-2 d-flex align-items-center">
                                            <button class="btn btn-dark text-uppercase md-w-100 font-size-15">iBID assistant <img class="d-none d-lg-inline-block"
                                                                                                                      src="assets/img/icons/feather-info.svg" alt="logo"></button>
                                            <button class="btn btn-link d-block d-lg-none"><img src="assets/img/icons/feather-info-2.svg" alt="logo"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>