
                <div class="card mb-3 mb-md-0 md-border list-item">
                    <div class="card-body px-3 px-md-0 py-3 py-md-2 font-size-12 border-bottom">
                        <div class="row mod-row">
                            <div class="col-md-4 mod-col mb-md-0 mb-3">
                                <span class="font-size-12 d-block d-md-none mb-2">Vehicle</span>
                                <div class="media">
                                    <img
                                        src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/2022-chevrolet-corvette-z06-1607016574.jpg?crop=0.737xw:0.738xh;0.181xw,0.218xh&resize=640:*"
                                        class="align-self-center mr-2"
                                        width="90"
                                        height="60"
                                    />
                                    <div class="media-body">
                                        <div class="mt-0 mb-2 font-weight-bold">AUDI A3 sportback</div>
                                        <p class="mb-2 sm-text">ID: 123434634</p>
                                        <div class="mb-0 sm-text">
                                            <span> <img class="mr-1" src="assets/img/icons/flag-us.svg" alt="icon" width="14" height="10" /> 08/2016</span>
                                            <span class="ml-2">134603 km</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="mt-0 mb-3 d-block d-md-none w-100" />
                            <div class="col-md-8 mod-col my-auto sm-text">
                                <div class="row mod-row align-items-md-center justify-content-center w-100 font-size-12">
                                    <div class="col-12 col-md-3 mod-col d-flex mb-md-0 mb-3">
                                        <div class="w-50 d-block d-md-none">Date</div>
                                        <div class="m-w-50 ">2021-01-11</div>
                                    </div>
                                    <div class="col-12 col-md-3 mod-col d-flex  mb-md-0 mb-3">
                                        <div class="w-50 d-block d-md-none">Price (min, max)</div>
                                        <div class="m-w-50">
                                            <div class="mr-1 mb-1">€ 7,700.00</div>
                                            <div class="mr-1">Confidencial</div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3 mod-col d-flex  mb-md-0 mb-3">
                                        <div class="w-50 d-block d-md-none">Type</div>
                                        <div class="m-w-50 text-left text-md-center">
                                            <img class="" src="{{root}}assets/img/icons/mail-b.svg" alt="icon" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3 mod-col d-flex mb-md-0 mb-3">
                                        <div class="w-50 d-block d-md-none">Status</div>
                                        <div class="m-w-50">
                                            <div class="mr-1 mb-1">Pasiūlymą atmetė</div>
                                            <div class="">automobilio savininkas</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>