
        <div class="card mb-3 mb-md-0 md-border list-item">
            <div class="card-body py-md-2 px-3 px-md-0 font-size-12 border-bottom">
              <div class="row mod-row py-1">
                <div class="col-md-3 mod-col mb-md-0 mb-3">
                  <span class="d-block d-md-none mb-2">Vehicle</span>
                  <div class="media">
                    <img
                      src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/2022-chevrolet-corvette-z06-1607016574.jpg?crop=0.737xw:0.738xh;0.181xw,0.218xh&resize=640:*"
                      class="align-self-center mr-2"
                      width="56.65"
                      height="42"
                    />
                    <div class="media-body">
                      <h5 class="mt-0 mb-1 sm-text font-weight-bold">
                        AUDI A3 sportback
                      </h5>
                      <p class="mb-1 font-size-10">ID: 123434634</p>
                      <div class="mb-0 font-size-10">
                        <span>
                          <img
                            class="mr-1"
                            src="assets/img/icons/flag-us.svg"
                            alt="icon"
                            width="14"
                            height="10"
                          />
                          08/2016</span
                        >
                        <span class="ml-1">134603 km</span>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="mt-0 mb-3 d-block d-md-none w-100" />
                <div class="col-md-9 mod-col my-auto">
                  <div
                    class="
                      row
                      font-size-10
                      align-items-md-center
                    "
                  >
                    <div class="d-flex col-12 col-d8 mb-md-0 mb-3">
                      <div class="w-50 d-block d-md-none">Winning date</div>
                      <div class="m-w-50">2021-01-11</div>
                    </div>
                    <div class="d-flex col-12 col-d8 mb-md-0 mb-3">
                      <div class="w-50 d-block d-md-none">
                        Amount,Paid, Debt (€)
                      </div>
                      <div class="d-md-block d-flex m-w-50">
                        <div class="mr-1 mb-1 ">6,309.00</div>
                        <div class="mr-1 mb-1 text-success">0.00</div>
                        <div class="mr-1 mb-1 text-danger">6,309.00</div>
                      </div>
                    </div>
                    <div class="d-flex col-12 col-d8 mb-md-0 mb-3">
                      <div class="w-50 d-block d-md-none">Transportation</div>
                      <div class="text-success m-w-50 d-flex d-md-block pl-0 pl-md-3">
                        <div class="mb-0 mb-md-1 text-nowrap">Transported</div>
                        <div class="text-nowrap">2020-12-17</div>
                      </div>
                    </div>
                    <div class="d-flex col-12 col-d8 mb-md-0 mb-3">
                      <div class="w-50 d-block d-md-none">Technical passport</div>
                      <div class="text-success m-w-50 pl-0 pl-md-2">
                        <span>Yes</span>
                      </div>
                    </div>
                    <div class="d-flex col-12 col-d8 mb-md-0 mb-3">
                      <div class="w-50 d-block d-md-none">Technical passport</div>
                      <div class="text-danger m-w-50">
                        <span>Not ordered</span>
                      </div>
                    </div>
                    <div class="d-flex col-12 col-d8 mb-md-0 mb-3">
                      <div class="w-50 d-block d-md-none">Technical passport</div>
                      <div class="m-w-50">
                        <span>Not ready</span>
                      </div>
                    </div>
                    <div class="d-flex col-12 col-d8 mb-md-0 mb-3">
                      <div class="w-50 d-block d-md-none">Technical passport</div>
                      <div class="m-w-50">
                        <span>No pick up</span>
                      </div>
                    </div>
                    <div class="d-flex col-12 col-d8 mb-md-0 mb-3">
                      <div class="w-50 d-block d-md-none">Technical passport</div>
                      <div class="m-w-50">
                        <span>Lorem ips</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>