
                            <tr>
                                <td class="px-0">
                                  <div class="row align-items-center">
                                    <div class="col-2">
                                      <div class="text-nowrap pl-3 mb-1">Transported</div>
                                      <div class="text-nowrap pl-3">2020-12-17</div>
                                  
                                    </div>
                                    <div class="col-2">
                                      <span class="text-success pl-2 d-inline-block ">Yes</span>
                                    </div>
                                    <div class="col-2">
                                      <span class="text-danger">Not ordered</span>
                                    </div>
                                    <div class="col-2">
                                      <span>Not ready</span>
                                    </div>
                                    <div class="col-2">
                                      <span>No pick up</span>
                                    </div>
                                    <div class="col-2">
                                      <span>Lorem ips</span>
                                    </div>
                                  </div>
                                </td>
                              </tr>