/*font family*/

$font-open: "Open Sans", sans-serif;
$font-nova: "Proxima Nova";

/*Color system*/

$body-bg-color: #eff2f4;
$cm-color: #12100c;
$black-bg: #0e0e0e;
$whisper-bg: #eeeeee;
$green: #10be56;
$white: #fff;
$red: red;
$black: #000;
$blue: #33b5fa;
// new
$color1: #fed000;
$color2: #c3c3c3;
$color3: #e5e5e5;
$color4: #f5f5f5;
$color5: #d71016;
$color6: #d2d2d2;
$color7: #4a4a4a;
$color8: #747474;
$color9: #c9c9c9;
$color10: #9054c3;
$orange: #ff842b;
$color11: #2c2c2c;
$color12: #393939;
$color13: #3c3c3c;
$color14: #eaeaea;
$color15: #a3f5ab;
$color16: #e5f7ff;
$color17: #5db2f4;
$color18: #ebffed;
$color19: #57bb62;
$danger: #ed9999;
$danger-1: #f7e1e1;
$success: #a3f5ab;
$success-1: #ebffed;
$primary: #a2e8ff;
$primary-1: #e5f7ff;
