
            <div class="ac-list-item {{class}}">
                <div class="card mod-card">
                    <div class="card-header p-0">
                        <div class="ac-head-items d-flex align-items-center">
                            <div class="ac-head-item  d-flex align-items-center">
                                <div class="ac-inner orginal-c align-items-center">
                                    <img class="mr-2 car-img" src="{{root}}assets/img/icons/car.svg" alt="icon">13
                                </div>
                                <div class="ac-inner d-flex align-items-center ">
                                    <img class="mr-2" src="{{root}}assets/img/icons/car-accident.svg" alt="icon">13
                                </div>
                            </div>
                            <div class="ac-head-item d-flex align-items-center">
                                <span><img src="{{root}}assets/img/icons/ac.svg" alt="icon"></span>
                                <span class="ml-2"><img src="{{root}}assets/img/icons/euro-sign.svg" alt="icon"></span>
                            </div>
                            <div class="ac-head-item  d-flex align-items-center">
                                <span class="">Auction ID: 1112324</span>
                            </div>
                            <div class="ac-head-item d-none d-md-flex align-items-center">
                                <div class="orginal-c">Original Dutch Cars</div>
                                <div class=" less-plan-c">
                                <strong class="color-orange mr-2 ">LeasePlan</strong>
                                <span class=" ">(Recommended) <img class="ml-2" src="{{root}}assets/img/icons/favorite.svg " alt="icon "></span>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body ">
                        <div class="row align-items-center ">
                             <!-- reuse for mobile -->
                            <div class="col-12 d-block d-md-none mb-3">
                                <div class="orginal-c">Original Dutch Cars</div>
                                <div class="less-plan-c">
                                <strong class="color-orange mr-2 ">LeasePlan</strong>
                                <span class=" ">(Recommended) <img class="ml-2" src="{{root}}assets/img/icons/favorite.svg " alt="icon "></span>
                            </div>
                        </div> 
                        <!-- reuse for mobile -->
                            <div class="col-md-8 ac-list-left mb-4 pb-1 pb-md-0 mb-md-0 ">
                                <div class="ac-head-items d-flex align-items-center">
                                    <div class="ac-head-item d-flex align-items-center">
                                        <span><img src="{{root}}assets/img/icons/bel-flag.svg " alt="icon "></span>
                                        <span class="ml-2">Belgium</span>
                                    </div>
                                    <div class="ac-head-item d-flex align-items-center">
                                        <div class="ac-head-inner d-flex align-items-center">
                                            <span><img src="{{root}}assets/img/icons/clock.svg" alt="icon"></span>
                                            <span class="ml-2">End Today 15:00</span>
                                        </div>
                                        <button class="btn ctm-btn red-sm-btn ml-2">
                                            HOT BID
                                        </button>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 ac-list-right">
                                <div class="row align-items-center justify-content-end">
                                    <div class="col-3 d-flex align-items-center justify-content-md-end ">
                                        <img class="mr-2 " src="{{root}}assets/img/icons/Reno.svg " alt="logo ">1
                                    </div>
                                    <div class="col-3 d-flex align-items-center justify-content-md-end ">
                                        <img class="mr-2 " src="{{root}}assets/img/icons/BMW.svg " alt="logo ">7
                                    </div>
                                    <div class="col-3 d-flex align-items-center justify-content-md-end ">
                                        <img class="mr-2 " src="{{root}}assets/img/icons/Opel.svg " alt="logo ">2
                                    </div>
                                    <div class="col-3 d-flex align-items-center justify-content-md-end ">
                                        <span class="mr-2 ">Other:</span>
                                        <span class=" ">3</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>