<div class="item-all mb-4">
    <div class="item position-relative">
       <img class="cover" src="{{root}}assets/img/Rounded.png" alt="img">
       <div class="item-text-all position-absolute px-4 px-lg-0 m-w-100">
           <div class="lg-title text-uppercase mb-2 mb-md-3 pb-1">ORIGINAL DUTCH CARS</div>
           <div class="sm-text text-uppercase mb-2 mb-md-3 pb-1">Special discounts, for those who buy 3 and more cars.</div>

           <button class="btn ctm-btn yellow-btn radius-20 mb-4 text-uppercase">Special & Exclusive acs</button>
           <div class="row pt-md-60 mt-1">
               <div class="col-12 col-lg-6 text-center text-lg-right">
                   <span class="x-sm-text">Start: Monday 10:00 CET / End: Wednesday 10:00 CET</span>
               </div>
               <div class="col-12 col-lg-6 text-center text-lg-left">
                   <span class="x-sm-text">Start: Wednesday 12:00 CET / End: Friday 12:00 CET</span>
               </div>
           </div>
       </div>
   </div>
</div>