<ul class="{{class}}">
    <li class="nav-item mb-4 mb-md-0">
        <a class="nav-link text-left" href="#">Terms and Conditions</a>
    </li>
    <li class="nav-item mb-4 mb-md-0">
        <a class="nav-link" href="#">Privacy Policy</a>
    </li>
    <li class="nav-item mb-4 mb-md-0">
        <a class="nav-link" href="#">Information about auctions</a>
    </li>
    <li class="nav-item mb-4 mb-md-0">
        <a class="nav-link" href="#">Claim procedres</a>
    </li>
    <li class="nav-item mb-4 mb-md-0">
        <a class="nav-link" href="#">About Us</a>
    </li>
    <li class="nav-item mb-4 mb-md-0">
        <a class="nav-link" href="#">Warranty</a>
    </li>
    <li class="nav-item mb-4 mb-md-0">
        <a class="nav-link text-right" href="#">Contact Us</a>
    </li>
</ul>
