<div class="global-chart alert p-0 mb-0 rounded-0" role="alert">
  <table class="table table-dark mb-0">
    <thead>
      <tr>
        <th class="text-left d-none d-md-table-cell">All</th>
        <th>
          <img src="{{root}}assets/img/icons/circle-down.svg" alt="logo" /> 
          <span class="color-red ml-2 d-inline-block d-md-none">0</span>
        </th>
        <th>
            <img src="{{root}}assets/img/icons/circle-up.svg" alt="logo" />
            <span class="color-green ml-2 d-inline-block d-md-none">0</span>
        </th>
        <th>
            <img src="{{root}}assets/img/icons/mail.svg" alt="logo" />
            <span class="color-blue ml-2 d-inline-block d-md-none">0</span>
        </th>
        <th>
            <img src="{{root}}assets/img/icons/tick.svg" alt="logo" />
            <span class="ml-2 d-inline-block d-md-none">0</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="font-size-10 text-left  d-none d-md-table-cell">Ongoing</td>
        <td>
            <span class="d-block d-md-none w-100 mb-2">Ongoing</span>
            <span class="color-red">0</span>
        </td>
        <td class="color-green">0</td>
        <td class="color-blue">0</td>
        <td>0</td>
      </tr>
      <tr>
        <td class="font-size-10 text-left d-none d-md-table-cell">Upgoing</td>
        <td>
            <span class="d-block d-md-none w-100 mb-2">Upgoing</span>
            <span class="color-red">0</span>
        </td>
        <td class="color-green">0</td>
        <td class="color-blue">0</td>
        <td>0</td>
      </tr>
    </tbody>
  </table>
  <div class="global-post">
    <div class="cpost">
      <div class="sm-text mb-2">AUDI A3 sportback</div>
      <div class="cpost-img-txt d-flex mb-2">
        <div class="cpost-img mr-2">
          <img src="{{root}}assets/img/icons/car.png" alt="logo" />
        </div>
        <div class="cpost-txt">
          <div class="sm-text mb-2 text-uppercase">ID: 123434634</div>
          <div class="sm-text color-silver d-flex align-items-center">
            <img
              class="mr-2"
              src="{{root}}assets/img/icons/bel-flag.svg"
              alt="logo"
            />
            2016-10-23 / 134603 km
          </div>
        </div>
      </div>
      <button
        class="
          btn
          ctm-btn
          black-btn
          w-100
          px-2
          d-flex
          align-items-center
          justify-content-between
        "
      >
        <img
          class="mr-2"
          src="{{root}}assets/img/icons/message.svg"
          alt="logo"
        />
        <span class="float-right font-size-10">END: Tomorrow 14:00</span>
      </button>
    </div>
  </div>
  <div class="gc-btn px-3 pt-3 pb-5 pb-md-3" >
    <div class="row mod-row">
      <div class="col-6 mod-col">
        <button class="btn ctm-btn border w-100 sm-text" data-dismiss="alert">
          <span class="mr-2">Hide</span
          ><img
            class=""
            src="{{root}}assets/img/icons/right-w.svg"
            alt="logo"
          />
        </button>
      </div>
      <div class="col-6 mod-col">
          <a class="d-block" href="/broker-actual-cars.html">
        <button class="btn ctm-btn border w-100 sm-text">Broker</button>
    </a>
      </div>
    </div>
  </div>
</div>
