<div class="icon-box-cnt border-bottom py-3 align-items-center">
    <div class="row align-items-center">
      <div class="col-12 col-lg-2 mb-3 mb-lg-0">
        <div class="sm-title text-center text-md-left">{{title}}</div>
      </div>
      <div class="col-12 col-lg-10 d-block d-md-flex align-items-center pl-3 pl-lg-0 justify-content-lg-end">
        <span class="d-block text-nowrap sm-text mr-2 mb-2 mb-md-0"
          >Latest searches</span
        >

        <div class="row mod-row align-items-center l-w-100">
          <div
            class="mod-col col-6 col-md-3 mb-2 mb-md-0 "
          >
            <div class="icon-box icon-box1 d-flex justify-content-center">
              <div
                class="
                  d-flex
                  align-items-center
                  justify-content-center
                  v-sm-text
                  mr-3
                "
              >
                <span class="text-nowrap">Iš prancūzų - Rena...(9)</span>
              </div>
              <div class="lbtn-2">
                <span class="cursor-pointer">
                  <img src="{{root}}assets/img/icons/dots.svg" alt="logo" />
                </span>
              </div>
            </div>
          </div>
          <div
            class="mod-col col-6 col-md-3 mb-2 mb-md-0 "
          >
            <div class="icon-box icon-box2 d-flex justify-content-center">
              <span class="cursor-pointer">
                <img src="{{root}}assets/img/icons/edit.svg" alt="logo" />
              </span>
              <span class="cursor-pointer">
                <img src="{{root}}assets/img/icons/email.svg" alt="logo" />
              </span>
              <span class="cursor-pointer">
                <img src="{{root}}assets/img/icons/trash.svg" alt="logo" />
              </span>
              <span class="cursor-pointer">
                <img
                  src="{{root}}assets/img/icons/close-b.svg"
                  alt="logo"
                />
              </span>
            </div>
          </div>
          <div class="mod-col col-6 col-md-3">
            <div class="icon-box icon-box1 d-flex justify-content-center">
              <div class="d-flex align-items-center v-sm-text mr-3">
                <span class="text-nowrap">Iš prancūzų - Rena...(9)</span>
              </div>
              <div class="">
                <span class="cursor-pointer">
                  <img src="{{root}}assets/img/icons/dots.svg" alt="logo" />
                </span>
              </div>
            </div>
          </div>
          <div class="mod-col col-6 col-md-3">
            <button
              class="
                icon-box
                v-sm-text
                icon-box3
                d-flex
                justify-content-center
                w-100
              "
            >
              <span class="">RECENT SEARCHES (12)</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>