
                 <div class="mb-3 pb-1">
                    <div class="card border-left-3 mod-card">
                        <div class="card-header p-md-0 p-1 d-flex align-items-center justify-content-between">
                            <div class="ac-head-items d-flex align-items-center">
                                <div class="ac-head-item d-flex align-items-center">
                                    <div class="ac-inner d-flex align-items-center">
                                        <img class="car-img" src="{{root}}assets/img/icons/two-cars-in-line.svg" alt="icon">
                                    </div>
                                </div>
                                <div class="ac-head-item d-flex align-items-center">
                                    <span><img src="{{root}}assets/img/icons/auction.svg" alt="icon"></span>
                                </div>
                                <div class="ac-head-item  d-flex align-items-center">
                                    <span class="mr-2"><img src="{{root}}assets/img/icons/flag-us.svg" alt="icon"></span>
                                    <small>Package ID: 2</small>
                                </div>
                                <div class="ac-head-item d-flex align-items-center">
                                    <span><img class="mr-2" src="{{root}}assets/img/icons/auction.svg" alt="icon"></span> <span>100</span>
                                </div>
                                <div class="ac-head-item align-items-center d-none d-md-flex">
                                    <small class="font-weight-bold">End Today 15:00</small>
                                </div>
                                <div class="ac-head-item align-items-center d-none d-md-flex">
                                    <small class="text-danger mr-2 font-weight-bold">NEW PRICE</small>
                                    <small class="mr-2">Oreantacinė kaina:</small>
                                    <small class="font-weight-bold">€ 55,000</small>
                                </div>
                            </div>
                            <div class="ac-head-item bg-warning d-none d-lg-flex align-items-center">
                                <span><img src="{{root}}assets/img/icons/circle-outline.svg" alt="icon " class="mr-1"></span>
                                <span class="font-weight-bold sm-text">BROKER</span>
                            </div>
                        </div>

                        <!-- reuse for mobile -->
                        <div class="card-header p-md-0 p-1 align-items-center justify-content-between d-flex d-md-none">
                            <div class="ac-head-items d-flex align-items-center">
                                <div class="ac-head-item  d-flex align-items-center">
                                    <small class="font-weight-bold">End Today 15:00</small>
                                </div>
                                <div class="ac-head-item  d-flex align-items-center">
                                    <small class="text-danger mr-2 font-weight-bold">NEW PRICE</small>
                                    <small class="mr-2">Oreantacinė kaina:</small>
                                    <small class="font-weight-bold">€ 55,000</small>
                                </div>
                            </div>
                        </div>
                        <!-- reuse for mobile -->

                        <div class="card-body p-1">
                            <div class="list-scroll">
                                <a href="/package-inner.html" class="text-decoration-none">
                                    <table class="table table-borderless pk-table-res table-striped">
                                        <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Volvo V60</td>
                                            <td class="cl-list">D6 AWD Hybrid R-Design Aut</td>
                                            <td class="cl-list">2017-10-14 | Diesel | 1995 cc | Automatic | 5,124 km</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Volvo V60</td>
                                            <td class="cl-list">D6 AWD Hybrid R-Design Aut</td>
                                            <td class="cl-list">2017-10-14 | Diesel | 1995 cc | Automatic | 5,124 km</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Volvo V60</td>
                                            <td class="cl-list">D6 AWD Hybrid R-Design Aut</td>
                                            <td class="cl-list">2017-10-14 | Diesel | 1995 cc | Automatic | 5,124 km</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Volvo V60</td>
                                            <td class="cl-list">D6 AWD Hybrid R-Design Aut</td>
                                            <td class="cl-list">2017-10-14 | Diesel | 1995 cc | Automatic | 5,124 km</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Volvo V60</td>
                                            <td class="cl-list">D6 AWD Hybrid R-Design Aut</td>
                                            <td class="cl-list">2017-10-14 | Diesel | 1995 cc | Automatic | 5,124 km</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Volvo V60</td>
                                            <td class="cl-list">D6 AWD Hybrid R-Design Aut</td>
                                            <td class="cl-list">2017-10-14 | Diesel | 1995 cc | Automatic | 5,124 km</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </a>
                            </div>
                        </div>
                        <!-- reuse for mobile -->
                        <div class="card-footer align-items-center justify-content-between p-0 bg-white border-0 d-flex d-lg-none">
                            <a href="#" class="ml-3">Show more (23)</a>
                            <div class="ac-head-item bg-warning d-flex px-3 py-3 align-items-center">
                                <span><img src="{{root}}assets/img/icons/circle-outline.svg" alt="icon " class="mr-1"></span>
                                <span class="font-weight-bold">BROKER</span>
                            </div>
                        </div>
                    </div>
                </div>