
                    
                    <div class="mb-3 pb-1">
                        <div class="card border-left-3 mod-card">
                        <div class="card-header p-md-0 p-1 d-flex align-items-center justify-content-between bg-4">
                            <div class="ac-head-items d-flex align-items-center flex-wrap">
                                <div class="ac-head-item d-flex align-items-center">
                                    <div class="ac-inner d-flex align-items-center">
                                        <img class="car-img" src="{{root}}assets/img/icons/two-cars-in-line.svg" alt="icon">
                                    </div>
                                </div>
                                <div class="ac-head-item d-flex align-items-center">
                                    <span><img src="{{root}}assets/img/icons/auction.svg" alt="icon"></span>
                                </div>
                                <div class="ac-head-item  d-flex align-items-center">
                                    <span class="mr-2"><img src="{{root}}assets/img/icons/flag-us.svg" alt="icon"></span>
                                    <small>Package ID: 1</small>
                                </div>
                                <div class="ac-head-item d-flex align-items-center">
                                    <span><img class="mr-2" src="{{root}}assets/img/icons/auction.svg" alt="icon"></span> <small>100</small>
                                </div>
                                <!-- hide for mobile -->
                                <div class="ac-head-item bg-danger justify-content-center align-items-center d-none d-md-flex">
                                    <small class="font-weight-bold text-white">HOT BID</small>
                                </div>
                                <div class="ac-head-item align-items-center d-none d-md-flex">
                                    <small class="mr-2">Oreantacinė kaina:</small>
                                    <small class="font-weight-bold">€ 55,000</small>
                                </div>
                                <!-- hide for mobile -->
                                
                            </div>
                            <div class="ac-head-item align-items-center d-none d-lg-flex">
                                <span><img src="{{root}}assets/img/icons/arrow-alt-circle-up.svg" alt="icon " class="mr-1"></span>
                            </div>
                        </div>
                        <!-- reuse for mobile -->
                        <div class="card-header p-md-0 p-1 align-items-center justify-content-between d-flex d-md-none bg-4">
                            <div class="ac-head-items d-flex align-items-center">
                                <div class="ac-head-item bg-danger d-flex justify-content-center align-items-center">
                                    <small class="font-weight-bold text-white">HOT BID</small>
                                </div>
                                <div class="ac-head-item d-flex align-items-center">
                                    <small class="mr-2">Oreantacinė kaina:</small>
                                    <small class="font-weight-bold">€ 55,000</small>
                                </div>
                            </div>
                        </div>
                        <!-- reuse for mobile -->
                        <div class="card-body p-1">
                            <div class="list-scroll">
                                <table class="table table-borderless pk-table-res table-striped">
                                    <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Volvo V60</td>
                                        <td class="cl-list">D6 AWD Hybrid R-Design Aut</td>
                                        <td class="cl-list">2017-10-14 | Diesel | 1995 cc | Automatic | 5,124 km</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Volvo V60</td>
                                        <td class="cl-list">D6 AWD Hybrid R-Design Aut</td>
                                        <td class="cl-list">2017-10-14 | Diesel | 1995 cc | Automatic | 5,124 km</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Volvo V60</td>
                                        <td class="cl-list">D6 AWD Hybrid R-Design Aut</td>
                                        <td class="cl-list">2017-10-14 | Diesel | 1995 cc | Automatic | 5,124 km</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Volvo V60</td>
                                        <td class="cl-list">D6 AWD Hybrid R-Design Aut</td>
                                        <td class="cl-list">2017-10-14 | Diesel | 1995 cc | Automatic | 5,124 km</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Volvo V60</td>
                                        <td class="cl-list">D6 AWD Hybrid R-Design Aut</td>
                                        <td class="cl-list">2017-10-14 | Diesel | 1995 cc | Automatic | 5,124 km</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Volvo V60</td>
                                        <td class="cl-list">D6 AWD Hybrid R-Design Aut</td>
                                        <td class="cl-list">2017-10-14 | Diesel | 1995 cc | Automatic | 5,124 km</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="ac-head-item align-items-center justify-content-center d-flex d-lg-none my-3">
                                <span><img src="{{root}}assets/img/icons/arrow-alt-circle-up.svg" alt="icon " class="mr-1"></span>
                            </div>
                            <div class="pk-bit-info p-3">
                                <div class="row">
                                    <div class="col-lg-4 col-md-5">
                                        <div class="bit-info-left">
                                            <dl class="row">
                                                <dd class="col-6">Dabartinė kaina:</dd>
                                                <dt class="col-6">€ 4 800</dt>
                                                <dd class="col-6">Mano siūlymas:</dd>
                                                <dt class="col-6">€ 4 800</dt>
                                                <dd class="col-6">MIN BID on iBID:</dd>
                                                <dt class="col-6">€ -</dt>
                                                <dd class="col-6">MIN BID on iBID:</dd>
                                                <dt class="col-6">€ -</dt>
                                            </dl>
                                        </div>
                                    </div>
                                    <div class="col-lg-8 col-md-7">
                                        <div class="bit-info-right d-flex align-items-center justify-content-end flex-wrap">
                                            <div class="mx-1 md-w-100 mb-2 d-flex align-items-center">
                                                <div class="cus-num-input md-w-100">
                                                    <div class="quantity position-relative d-inline-block rounded border px-2 md-w-100 bg-white">
                                                        <span class="quantity-add quantity-button d-inline-block float-right position-relative"></span>
                                                        <span class="quantity-remove quantity-button d-inline-block float-right position-relative"></span>
                                                        <input type="number" class="pl-4" step="1" min="1" value="20000">
                                                        <i class="d-block position-absolute p-2 text-center font-">€</i>
                                                    </div>
                                                </div>
                                                <button class="btn btn-link invisible d-block d-lg-none"><img src="assets/img/icons/feather-info-2.svg" alt="logo"></button>
                                            </div>
                                            <div class="mx-1 md-w-100 mb-2 d-flex align-items-center">
                                                <button class="btn btn-success text-uppercase md-w-100 font-size-15">
                                                    CONFIRM BID <img class="d-none d-lg-inline-block" src="{{root}}assets/img/icons/feather-info.svg" alt="logo">
                                                </button>
                                                <button class="btn btn-link d-block d-lg-none">
                                                    <img src="{{root}}assets/img/icons/feather-info-2.svg" alt="logo">
                                                </button>
                                            </div>
                                            <div class="mx-1 md-w-100 mb-2 d-flex align-items-center">
                                                <button class="btn btn-dark text-uppercase md-w-100 font-size-15">
                                                    iBID assistant <img class="d-none d-lg-inline-block" src="{{root}}assets/img/icons/feather-info.svg" alt="logo">
                                                </button>
                                                <button class="btn btn-link d-block d-lg-none"><img src="{{root}}assets/img/icons/feather-info-2.svg" alt="logo"></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>