.btn {
    border-radius: 5px;
    &.ctm-btn {
        background: $cm-color;
        color: $white;
        padding: 8px;
    }
    &.yellow-btn {
        background: $color1;
        padding: 5px 23px;
        color: $cm-color;
    }
    &.violet-btn {
        background: $color10;
        padding: 8px 23px;
    }
    &.red-sm-btn {
        background: $color5;
        padding: 5px 11px;
        font-size: 10px;
    }
    &.silver-btn {
        background: $color4;
        height: 40px;
        padding: 5px 18px;
        color: $cm-color;
        font-size: 12px;
        border-color: $color6;
    }
    &.sm-yr-btn {
        width: 22px;
        height: 22px;
    }
    &:focus {
        box-shadow: none;
    }
}