
                    <div class="card mb-3 mb-md-0 md-border list-item">
                        <div class="card-body py-md-2 px-md-3 border-bottom">
                          <div class="row mod-row">
                            <div class="col-md-4 mod-col mb-md-0 mb-3">
                              <div class="pb-3">
                                <span class="mr-2"><img src="assets/img/icons/pt-flug.svg" width="20" height="14" alt="icon" /></span>
                                <span class="font-weight-bold">Package ID: 125 (8)</span>
                              </div>
                              <hr class="mt-0 mb-3 d-block d-md-none w-100" />
                              <div class="mr-md-4 mr-0">
                                <div class="list-scroll">
                                  <table class="table table-borderless pk-table-res table-striped table-light font-size-12">
                                    <tbody class="broker-car-table">
                                    <tr onclick="brokerCarinfo(event,1)" class="car-ac bg-warning">
                                      <th scope="row">1</th>
                                      <td>Volvo V60</td>
                                    </tr>
                                    <tr class="car-ac" onclick="brokerCarinfo(event,1)">
                                      <th scope="row">2</th>
                                      <td>Volvo V60</td>
                                    </tr>
                                    <tr class="car-ac">
                                      <th scope="row">3</th>
                                      <td>Volvo V60</td>
                                    </tr>
                                    <tr class="car-ac">
                                      <th scope="row">4</th>
                                      <td>Volvo V60</td>
                                    </tr>
                                    <tr class="car-ac">
                                      <th scope="row">5</th>
                                      <td>Volvo V60</td>
                                    </tr>
                                    <tr class="car-ac">
                                      <th scope="row">6</th>
                                      <td>Volvo V60</td>
                                    </tr>
                                    <tr class="car-ac">
                                      <th scope="row">7</th>
                                      <td>Volvo V60</td>
                                    </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                            <hr class="mt-0 mb-3 d-block d-md-none w-100" />
                            <div class="col-md-8 mod-col my-auto sm-text">
                              <div class="row mod-row align-items-md-center">
                                <div class="d-flex col-12 mod-col col-d5 mb-md-0 mb-3">
                                  <div class="w-50 d-block d-md-none">
                                    Purchase date
                                  </div>
                                  <div class="m-w-50">2021-01-11</div>
                                </div>
                                <div class="d-flex col-12 mod-col col-d5 mb-md-0 mb-3">
                                  <div class="w-50 d-block d-md-none">
                                    Payment term
                                  </div>
                                  <div class="m-w-50">2021-01-11</div>
                                </div>
                                <div class="d-flex col-12 mod-col col-d5 mb-md-0 mb-3">
                                  <div class="w-50 d-block d-md-none">Amount</div>
                                  <div class="m-w-50">€ 8,734.00</div>
                                </div>
                                <div class="d-flex col-12 mod-col col-d5 mb-md-0 mb-3">
                                  <div class="w-50 d-block d-md-none">
                                    Total debt
                                  </div>
                                  <div class="m-w-50 text-danger">€ 8,734.00</div>
                                </div>
                                <div class="d-flex col-12 mod-col col-d5 mb-md-0 mb-3">
                                  <div class="w-50 d-block d-md-none">Document</div>
                                  <div class="m-w-50">
                                    <a href="#" class="text-decoration-none d-flex">
                                      <img class="mr-1" src="{{root}}assets/img/icons/download.svg" alt="icon" />
                                      <strong>Download</strong>
                                    </a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>