
                    <div class="card mb-3 mb-md-0 md-border list-item">
                        <div class="card-body py-md-2 px-md-0 font-size-12 border-bottom">
                          <div class="row mod-row">
                            <div class="col-md-4 mod-col mb-md-0 mb-3">
                              <span class="font-size-12 d-block d-md-none mb-2">Vehicle</span>
                              <div class="media">
                                <img
                                        src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/2022-chevrolet-corvette-z06-1607016574.jpg?crop=0.737xw:0.738xh;0.181xw,0.218xh&resize=640:*"
                                        class="align-self-center mr-2"
                                        width="90"
                                        height="60"
                                />
                                <div class="media-body align-self-center">
                                  <div class="mt-0 mb-1 font-weight-bold">
                                    AUDI A3 sportback
                                  </div>
                                  <p class="mb-1 sm-text">ID: 123434634</p>
                                  <div class="mb-0 sm-text">
                                    <span>
                                        <img class="mr-1" src="assets/img/icons/flag-us.svg" alt="icon" width="15" height="10" />
                                        08/2016
                                    </span>
                                    <span class="ml-2">134603 km</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <hr class="mt-0 mb-3 d-block d-md-none w-100" />
                            <div class="col-md-8 mod-col my-auto sm-text">
                              <div class="row mod-row align-items-md-center">
                                <div class="d-flex col-12 mod-col col-d5 mb-md-0 mb-3">
                                  <div class="w-50 d-block d-md-none">
                                    Purchase date
                                  </div>
                                  <div class="m-w-50">2021-01-11</div>
                                </div>
                                <div class="d-flex col-12 mod-col col-d5 mb-md-0 mb-3">
                                  <div class="w-50 d-block d-md-none">
                                    Payment term
                                  </div>
                                  <div class="m-w-50">2021-01-11</div>
                                </div>
                                <div class="d-flex col-12 mod-col col-d5 mb-md-0 mb-3">
                                  <div class="w-50 d-block d-md-none">Amount</div>
                                  <div class="m-w-50">€ 8,734.00</div>
                                </div>
                                <div class="d-flex col-12 mod-col col-d5 mb-md-0 mb-3">
                                  <div class="w-50 d-block d-md-none">
                                    Total debt
                                  </div>
                                  <div class="m-w-50 text-danger">€ 8,734.00</div>
                                </div>
                                <div class="d-flex col-12 mod-col col-d5 mb-md-0 mb-3">
                                  <div class="w-50 d-block d-md-none">Document</div>
                                  <div class="m-w-50">
                                    <a href="#" class="text-decoration-none d-flex">
                                      <img class="mr-1" src="{{root}}assets/img/icons/download.svg" alt="icon" />
                                      <strong>Download</strong>
                                    </a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>