<div class="px-md-3 py-2 px-0 border-bottom">
    <div class="row mod-row py-1">
      <div class="col-md-6 mod-col mb-3 mb-md-0">
        <span class="font-size-12 d-block d-md-none mb-1 text-muted font-size-12">Purpose</span>
        <div>Lorem ipsum</div>
      </div>
      <div class="col-md-6 mod-col my-auto">
        <div class="row mod-row align-items-center">
          <div class="col-4 mod-col">
            <div class="d-block d-md-none mb-2 text-muted font-size-12">
              Amount
            </div>
            <div>€ 7,657.00</div>
          </div>
          <div class="col-4 mod-col">
            <div class="d-block d-md-none mb-2 text-muted font-size-12">
              Payment term
            </div>
            <div>2021-01-11</div>
          </div>
          <div class="col-4 mod-col">
            <div class="d-block d-md-none mb-2 text-muted font-size-12">Payed</div>
            <div>€ 8,734.00</div>
          </div>
        </div>
      </div>
    </div>
  </div>