
.module-slider-wrap{
  .swiper-button-next,.swiper-button-prev {
    color: #333;
    &:after{
      font-size: 25px;
      font-weight: 700;
    }
    &:before{
      font-size: 25px;
      font-weight: 700;
    }
  }
  .title-left{
    width: calc(100% - 35px);
  }
  .title-right{
    width:30px;
  }
}

.module-slider-box-h{
  .title{
    @include font-size-map($gray-lg-text-font-size);
  }
}