
<section class="module-body pb-4">
  <div class="p-heading py-3 bg-white border-bottom">
    <div class="container d-flex justify-content-between align-items-center">
      <h1 class="sm-title font-weight-bold m-0">My finances</h1>
      <a href="/my-finance.html" class="font-weight-bold m-0 text-decoration-none"> <img class="mr-1" src="{{root}}assets/img/icons/Icon-left.svg" alt="logo" /> Back</a>
    </div>
  </div>
  <div class="pt-3 mt-1"></div>
  <section class="">
    <div class="container">
      <div class="mod-row row">
        <div class="col-lg-9 col-md-8 mod-col order-md-1 order-2">
          <div class="ac-list-item">
            <div class="pk-list-item">
              <div class="card border-left-3 mod-card">
                <div class="card-header p-md-0 p-1 d-flex align-items-center justify-content-between">
                  <div class="ac-head-items d-flex align-items-center">
                    <div class="ac-head-item d-flex align-items-center">
                      <div class="ac-inner d-flex align-items-center">
                        <img class="car-img" src="{{root}}assets/img/icons/two-cars-in-line.svg" alt="icon" />
                      </div>
                    </div>
                    <div class="ac-head-item d-flex align-items-center">
                      <span><img src="{{root}}assets/img/icons/auction.svg" alt="icon" /></span>
                    </div>
                    <div class="ac-head-item d-flex align-items-center">
                      <span class="mr-2"><img src="{{root}}assets/img/icons/flag-us.svg" alt="icon" /></span>
                      <small>Package ID: 2</small>
                    </div>
                    <div class="ac-head-item d-flex align-items-center">
                      <span><img class="mr-2" src="{{root}}assets/img/icons/auction.svg" alt="icon" /></span> <span>100</span>
                    </div>
                  </div>
                </div>
                <div class="card-body p-1">
                  <div class="list-scroll">
                    <a href="/package-inner.html" class="text-decoration-none">
                      <table class="table table-borderless pk-table-res table-striped font-size-12">
                        <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Volvo V60</td>
                          <td class="cl-list">D6 AWD Hybrid R-Design Aut</td>
                          <td class="cl-list">2017-10-14 | Diesel | 1995 cc | Automatic | 5,124 km</td>
                        </tr>
                        <tr>
                          <th scope="row">1</th>
                          <td>Volvo V60</td>
                          <td class="cl-list">D6 AWD Hybrid R-Design Aut</td>
                          <td class="cl-list">2017-10-14 | Diesel | 1995 cc | Automatic | 5,124 km</td>
                        </tr>
                        <tr>
                          <th scope="row">1</th>
                          <td>Volvo V60</td>
                          <td class="cl-list">D6 AWD Hybrid R-Design Aut</td>
                          <td class="cl-list">2017-10-14 | Diesel | 1995 cc | Automatic | 5,124 km</td>
                        </tr>
                        <tr>
                          <th scope="row">1</th>
                          <td>Volvo V60</td>
                          <td class="cl-list">D6 AWD Hybrid R-Design Aut</td>
                          <td class="cl-list">2017-10-14 | Diesel | 1995 cc | Automatic | 5,124 km</td>
                        </tr>
                        <tr>
                          <th scope="row">1</th>
                          <td>Volvo V60</td>
                          <td class="cl-list">D6 AWD Hybrid R-Design Aut</td>
                          <td class="cl-list">2017-10-14 | Diesel | 1995 cc | Automatic | 5,124 km</td>
                        </tr>
                        <tr>
                          <th scope="row">1</th>
                          <td>Volvo V60</td>
                          <td class="cl-list">D6 AWD Hybrid R-Design Aut</td>
                          <td class="cl-list">2017-10-14 | Diesel | 1995 cc | Automatic | 5,124 km</td>
                        </tr>
                        </tbody>
                      </table>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mod-col order-md-2 order-1 mb-3 mb-md-0">
          <div class="card black-bg ">
            <div class="card-body p-3">
              <div class="border-bottom pb-2 mb-1 text-white font-weight-bold text-uppercase">Steps to do:</div>
              <div class="steps-to-do">
               <!-- single item-->
               <div class="steps-item d-flex justify-content-between align-items-center py-2 active">
                 <div class="steps-left">
                   <div class="sm-text text-white steps-title position-relative"><span class="black-bg pr-2">Payment</span></div>
                 </div>
                 <div class="steps-right text-right">
                   <input id="name1" type="radio" name="name" value="value1" checked>
                   <label for="name1"></label>
                 </div>
               </div>
                <!-- single item-->
               <div class="steps-item d-flex justify-content-between align-items-center py-2">
                  <div class="steps-left">
                    <div class="sm-text text-white steps-title position-relative"><span class="black-bg pr-2">Duomenys forminimui</span></div>
                  </div>
                  <div class="steps-right text-right">
                    <input id="name2" type="radio" name="name" value="value2">
                    <label for="name2"></label>
                  </div>
                </div>
                <!-- single item-->
               <div class="steps-item d-flex justify-content-between align-items-center py-2">
                  <div class="steps-left">
                    <div class="sm-text text-white steps-title position-relative"><span class="black-bg pr-2">Paslaugų užsakymas</span></div>
                  </div>
                  <div class="steps-right text-right">
                    <input id="name3" type="radio" name="name" value="value3">
                    <label for="name3"></label>
                  </div>
                </div>
                <!-- single item-->
               <div class="steps-item d-flex justify-content-between align-items-center py-2">
                  <div class="steps-left">
                    <div class="sm-text text-white steps-title position-relative"><span class="black-bg pr-2">Receive</span></div>
                  </div>
                  <div class="steps-right text-right">
                    <input id="name4" type="radio" name="name" value="value4">
                    <label for="name4"></label>
                  </div>
                </div>
                <!-- single item-->
               <div class="steps-item d-flex justify-content-between align-items-center py-2">
                  <div class="steps-left">
                    <div class="sm-text text-white steps-title position-relative"><span class="black-bg pr-2">Export</span></div>
                  </div>
                  <div class="steps-right text-right">
                    <input id="name5" type="radio" name="name" value="value5">
                    <label for="name5"></label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="mb-4 mt-2">
    <div class="container tab-area">
      <!--reuse for mobile-->
      <div class="mb-3 d-block d-md-none">
        <select id="mySelect" class="form-control nav-tabs-selector">
          <option value="0">Payment</option>
          <option value="1">Forminimas</option>
          <option value="2">Services</option>
          <option value="3">Export</option>
          <option value="4">Documents</option>
        </select>
      </div>
      <div class="card">
        <div class="card-body">
          <nav class="cus-tabs-module mb-3 d-none d-md-block">
            <div class="nav nav-tabs justify-content-center " id="nav-tab" role="tablist">
              <a class="nav-link active md-text font-weight-bold" id="Payment-tab" data-toggle="tab" href="#Payment" role="tab" aria-controls="Payment" aria-selected="true">
                Payment
              </a>
              <a class="nav-link md-text font-weight-bold" id="Forminimas-tab" data-toggle="tab" href="#Forminimas" role="tab" aria-controls="Forminimas" aria-selected="false">
                Forminimas
              </a>
              <a class="nav-link md-text font-weight-bold" id="Services-tab" data-toggle="tab" href="#Services" role="tab" aria-controls="Services" aria-selected="false">
                Services
              </a>
              <a class="nav-link md-text font-weight-bold" id="Export-tab" data-toggle="tab" href="#Export" role="tab" aria-controls="Export" aria-selected="false">
                Export
              </a>
              <a class="nav-link md-text font-weight-bold" id="Documents-tab" data-toggle="tab" href="#Documents" role="tab" aria-controls="Documents" aria-selected="false">
                Documents
              </a>
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="Payment" role="tabpanel" aria-labelledby="Payment-tab">
              <div class="finance-inner-list">
                <div class="card b-car-list border-0">
                  <div class="card-header black-bg text-white b-car-head d-none d-md-block font-size-12 rounded py-3 mb-2">
                    <div class="row mod-row">
                      <div class="col-md-6 mod-col my-auto">
                        <span>Purpose</span>
                      </div>
                      <div class="col-md-6 mod-col">
                        <div class="row mod-row align-items-center">
                          <div class="col-4 mod-col">Amount</div>
                          <div class="col-4 mod-col">Payment term</div>
                          <div class="col-4 mod-col">Payed</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <!-- single list -->
                    {{> payment-list-item}}
                    {{> payment-list-item}}
                    {{> payment-list-item}}
                    {{> payment-list-item}}
                    <!-- total amount list -->
                    <div class="px-md-3 py-2 px-0 border-bottom">
                      <div class="row mod-row py-1">
                        <div class="col-md-6 mod-col mb-3 mb-md-0">
                          <div class="font-weight-bold">Total amount, without VAT</div>
                        </div>
                        <div class="col-md-6 mod-col my-auto">
                          <div class="row mod-row align-items-center">
                            <div class="col-4 mod-col">
                              <div class="d-block d-md-none mb-2 text-muted font-size-12">
                                Amount
                              </div>
                              <div class="font-weight-bold">€ 7,657.00</div>
                            </div>
                            <div class="col-4 mod-col d-none d-md-block"></div>
                            <div class="col-4 mod-col">
                              <div class="d-block d-md-none mb-2 text-muted font-size-12">Payed</div>
                              <div class="font-weight-bold">€ 8,734.00</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
  
                    <!-- our service area -->
                    <div class="px-md-3 py-2 px-0 mt-3 border-bottom">
                      <div class="row mod-row py-1">
                        <div class="col-lg-12 mod-col font-weight-bold font-size-15">Other services</div>
                      </div>
                    </div>
  
                    <!-- single list -->
                    {{> payment-list-item}}
                    {{> payment-list-item}}
                    {{> payment-list-item}}
  
                    <!-- total amount list -->
                    <div class="px-md-3 py-2 px-0 border-bottom">
                      <div class="row py-1 mod-row">
                        <div class="col-md-6 mod-col mb-3 mb-md-0">
                          <div class="font-weight-bold">Total amount, without VAT</div>
                        </div>
                        <div class="col-md-6 mod-col my-auto">
                          <div class="row mod-row align-items-center">
                            <div class="col-4 mod-col">
                              <div class="d-block d-md-none mb-2 text-muted font-size-12">
                                Amount
                              </div>
                              <div class="font-weight-bold">€ 7,657.00</div>
                            </div>
                            <div class="col-4 mod-col d-none d-md-block"></div>
                            <div class="col-4 mod-col">
                              <div class="d-block d-md-none mb-2 text-muted font-size-12">Payed</div>
                              <div class="font-weight-bold">€ 8,734.00</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- total -->
                    <div class="bg-light px-3 ">
                      <div class="py-3 border-bottom">
                      <div class="row mod-row">
                        <div class="col-md-6 mod-col mb-2 mb-md-0">
                          <div class="font-weight-bold">Total</div>
                        </div>
                        <div class="col-md-6 mod-col my-auto">
                          <div class="row mod-row align-items-center">
                            <div class="col-4 mod-col">
                              <div class="d-block d-md-none mb-2 text-muted font-size-12">
                                Amount
                              </div>
                              <div class="font-weight-bold">€ 7,657.00</div>
                            </div>
                            <div class="col-4 mod-col d-none d-md-block"></div>
                            <div class="col-4 mod-col">
                              <div class="d-block d-md-none mb-2 text-muted font-size-12">Payed</div>
                              <div class="font-weight-bold">€ 8,734.00</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                    <!-- Debt -->
                    <div class="bg-light px-3">
                      <div class="py-3 ">
                      <div class="row mod-row">
                        <div class="col-md-6 mod-col mb-2 mb-md-0">
                          <div class="font-weight-bold">Debt</div>
                        </div>
                        <div class="col-md-6 mod-col my-auto">
                          <div class="row mod-row align-items-center">
                            <div class="col-4 mod-col">
                              <div class="d-block d-md-none mb-2 text-muted font-size-12">
                                Amount
                              </div>
                              <div class="font-weight-bold text-danger">€ 7,657.00</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="Forminimas" role="tabpanel" aria-labelledby="Forminimas-tab">
              Forminimas
            </div>
            <div class="tab-pane fade" id="Services" role="tabpanel" aria-labelledby="Services-tab">
              Services
            </div>
            <div class="tab-pane fade" id="Export" role="tabpanel" aria-labelledby="Export-tab">
              Export
            </div>
            <div class="tab-pane fade" id="Documents" role="tabpanel" aria-labelledby="Documents-tab">
              Documents
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  </section>
  