<div class="p-heading py-3 my-1">
    <div class="container text-right">
        <a href="/packages.html" class="font-weight-bold m-0 text-decoration-none">
            <img class="mr-1" src="{{root}}assets/img/icons/Icon-left.svg" alt="logo"> Back</a>
    </div>
</div>

<div class="module-body mb-5">
    <div class="container">
        <div class="pk-inner-wrap">
            <div class="mb-2 pb-1">
                <div class="card mod-card">
                    <div class="card-header py-3 px-3">
                       <div class="row m-1 align-items-center">
                           <div class="col-md-6 col-sm-7 px-0">
                               <div class="ac-head-items d-flex align-items-center justify-content-sm-start justify-content-center">
                                   <div class="ac-head-item h-20 d-flex align-items-center pl-0">
                                       <div class="ac-inner align-items-center">
                                           <span> <img class="mr-2" src="{{root}}assets/img/icons/two-cars-in-line2.svg" alt="icon" height="18" width="19.26"></span>
                                           <span class="sm-md-title font-weight-bold">Package ID: 123</span>
                                       </div>
                                   </div>
                                   <div class="ac-head-item h-20 d-flex align-items-center">
                                       <span> <img class="mr-2" src="{{root}}assets/img/icons/ionic-ios-car.svg" alt="icon" height="13" width="18"></span>
                                       <span class="sm-md-title font-weight-bold">6 cars</span>
                                   </div>
                               </div>
                           </div>
                           <div class="col-12 d-block d-lg-none d-md-none d-sm-none">
                               <hr>
                           </div>
                           <div class="col-md-6 col-sm-5 px-0">
                               <div class="d-flex align-items-center justify-content-sm-end justify-content-center">
                                   <div class="mx-2 cursor-pointer">
                                       <img src="{{root}}assets/img/icons/xlsx-file-format-extension.svg" alt="icon" height="20" width="17">
                                   </div>
                                   <div class="mx-2 cursor-pointer">
                                       <img src="{{root}}assets/img/icons/sms-2.svg" alt="icon" height="20" width="17">
                                   </div>
                                   <div class="mx-2 cursor-pointer">
                                       <img src="{{root}}assets/img/icons/printer.svg" alt="icon" height="20" width="17">
                                   </div>
                                   <div class="pl-2">
                                       <button class="btn btn-warning text-uppercase text-dark sm-text py-2 px-3 font-weight-bold">
                                           <img src="{{root}}assets/img/icons/circle-outline.svg" alt="logo">
                                           BROKER
                                       </button>
                                   </div>
                               </div>
                           </div>
                       </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 pr-2">
                                <div class="md-text my-3">
                                    <strong class="mr-2">End: Tomorrow 16:00</strong>
                                    <strong>( 1 d. 02:13:36 )</strong>
                                </div>
                                <div class="pk-confirm-bit bg-light p-3 rounded">
                                    <div class="sm-text d-flex justify-content-between my-2">
                                        <span>Your bid:</span>
                                        <span>Your amount is without VAT</span>
                                    </div>
                                    <div>
                                        <div class="cus-num-input ">
                                            <div class="quantity position-relative d-inline-block rounded border px-2 bg-white w-100">
                                                <span class="quantity-add quantity-button d-inline-block float-right position-relative"></span>
                                                <span class="quantity-remove quantity-button d-inline-block float-right position-relative"></span>
                                                <input type="number" class="pl-4" step="1" min="1" value="20000">
                                                <i class="d-block position-absolute p-2 text-center font-">€</i>
                                            </div>
                                        </div>
                                        <div class="my-2">
                                            <button class="btn btn-success text-uppercase w-100 font-size-15">CONFIRM BID</button>
                                        </div>
                                        <div class="range-wrap w-100">
                                            <input type="range" class="custom-range" id="range" min="200" max="800" value="500" step="1">
                                            <span class="sm-text d-block text-right">Your bid is strong!</span>
                                        </div>
                                        <div class="d-flex justify-content-between my-3">
                                            <span>Final cost including all services</span>
                                            <span> € 937</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="pk-bit-info my-3">
                                    <div class="cus-collapse">
                                        <div class="accordion" id="faq">
                                            <div class="card border-0">
                                                <div class="card-header border-0 p-0 rounded" id="faqhead1">
                                                    <a href="#" class="btn btn-header-link collapsed p-2 d-block text-left bg-light" data-toggle="collapse" data-target="#bit-vat"
                                                       aria-expanded="false" aria-controls="bit-vat">Show all service cost including VAT</a>
                                                </div>
                                                <div id="bit-vat" class="collapse border-0" aria-labelledby="faqhead1" data-parent="#faq">
                                                    <div class="card-body">
                                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                                                        moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 pl-2">
                                <div class="pk-info">
                                    <table class="table pk-table-res table-borderless">
                                        <tbody>
                                            <tr class="border-bottom line-height m-0">
                                                <td width="35%"><span>Store location:</span></td>
                                                <td width="65%"><img class="mr-1" src="{{root}}assets/img/icons/flag-us.svg" alt="icon"> <span>Belgium (address), Briusel</span></td>
                                            </tr>
                                            <tr class="border-bottom line-height m-0">
                                                <td width="35%">Delivery time:</td>
                                                <td width="65%">16-01-2021 +/- 3 work days</td>
                                            </tr>
                                            <tr class="line-height m-0">
                                                <td width="35%">Pick-up location:</td>
                                                <td width="65%">
                                                    <img class="mr-1" src="{{root}}assets/img/icons/flag-us.svg" alt="icon">
                                                    <span>HUB-LT (Gėlyno g. 10, LT-68100, Marijampolės sav., Lithuania)</span>
                                                    <div class="my-2">
                                                        <a href="#" class="color-gray "><u>Chose diferent location</u></a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div>
                                        <form>
                                            <div class="form-group">
                                                <label for="exampleFormControlTextarea1" class="sm-text">Your comments</label>
                                                <textarea class="form-control rounded p-3" id="exampleFormControlTextarea1" rows="5" placeholder="Your text"></textarea>
                                            </div>
                                            <button type="submit" class="btn btn-dark text-uppercase px-4 font-size-15">save</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-2 pb-1">
                    <div class="card border-left-3 mod-card">
                        <div class="card-body p-1">
                            <div class="list-scroll">
                                <table class="table table-borderless pk-table-res pk-inner-lhover table-striped">
                                        <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Volvo V60</td>
                                            <td class="cl-list">D6 AWD Hybrid R-Design Aut</td>
                                            <td class="cl-list">2017-10-14 | Diesel | 1995 cc | Automatic | 5,124 km</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Volvo V60</td>
                                            <td class="cl-list">D6 AWD Hybrid R-Design Aut</td>
                                            <td class="cl-list">2017-10-14 | Diesel | 1995 cc | Automatic | 5,124 km</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Volvo V60</td>
                                            <td class="cl-list">D6 AWD Hybrid R-Design Aut</td>
                                            <td class="cl-list">2017-10-14 | Diesel | 1995 cc | Automatic | 5,124 km</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Volvo V60</td>
                                            <td class="cl-list">D6 AWD Hybrid R-Design Aut</td>
                                            <td class="cl-list">2017-10-14 | Diesel | 1995 cc | Automatic | 5,124 km</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Volvo V60</td>
                                            <td class="cl-list">D6 AWD Hybrid R-Design Aut</td>
                                            <td class="cl-list">2017-10-14 | Diesel | 1995 cc | Automatic | 5,124 km</td>
                                        </tr>
                                        </tbody>
                                    </table>
                            </div>
                        </div>
                    </div>
            </div>
            
            <div class="mb-3 pb-1">
                    <div class="card mod-card">
                        <div class="card-body">
                            <div class="pk-car-details">
                                <div class="row">
                                    <div class="col-md-6 pr-2 pl-2">
                                        <div class="pk-slider-wrap">
                                            <div class="swiper-container mySwiper2">
                                                <div class="swiper-wrapper">
                                                    <div class="swiper-slide">
                                                        <div class="card w-100">
                                                            <img class="card-img-top rounded" src="{{root}}assets/img/big-car.png" alt="Card image cap">
                                                        </div>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <div class="card w-100">
                                                            <img class="card-img-top rounded" src="{{root}}assets/img/big-car.png" alt="Card image cap">                                                        </div>
                                                        </div>
                                                    <div class="swiper-slide">
                                                          <div class="card w-100">
                                                              <img class="card-img-top rounded" src="{{root}}assets/img/big-car.png" alt="Card image cap">
                                                        </div>
                                                    </div>
                                                    <div class="swiper-slide">
                                                          <div class="card w-100">
                                                              <img class="card-img-top rounded" src="{{root}}assets/img/big-car.png" alt="Card image cap">
                                                        </div>
                                                    </div>
                                                    <div class="swiper-slide">
                                                          <div class="card w-100">
                                                              <img class="card-img-top rounded" src="{{root}}assets/img/big-car.png" alt="Card image cap">
                                                        </div>
                                                    </div>
                                                    <div class="swiper-slide">
                                                          <div class="card w-100">
                                                              <img class="card-img-top rounded" src="{{root}}assets/img/big-car.png" alt="Card image cap">
                                                        </div>
                                                    </div>
                                                    <div class="swiper-slide">
                                                          <div class="card w-100">
                                                              <img class="card-img-top rounded" src="{{root}}assets/img/big-car.png" alt="Card image cap">
                                                        </div>
                                                    </div>
                                                    <div class="swiper-slide">
                                                          <div class="card w-100">
                                                              <img class="card-img-top rounded" src="{{root}}assets/img/big-car.png" alt="Card image cap">
                                                        </div>
                                                    </div>
                                                    <div class="swiper-slide">
                                                          <div class="card w-100">
                                                              <img class="card-img-top rounded" src="{{root}}assets/img/big-car.png" alt="Card image cap">
                                                        </div>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <div class="card w-100">
                                                              <img class="card-img-top rounded" src="{{root}}assets/img/big-car.png" alt="Card image cap">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div thumbsSlider="" class="swiper-container mySwiper mt-2 d-none d-lg-block d-md-block d-sm-block">
                                                <div class="swiper-wrapper">
                                                    <div class="swiper-slide">
                                                        <img class="rounded p-0 img-thumbnail" src="{{root}}assets/img/big-car.png"/>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <img class="rounded p-0 img-thumbnail" src="{{root}}assets/img/big-car.png"/>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <img class="rounded p-0 img-thumbnail" src="{{root}}assets/img/big-car.png"/>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <img class="rounded p-0 img-thumbnail" src="{{root}}assets/img/big-car.png"/>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <img class="rounded p-0 img-thumbnail" src="{{root}}assets/img/big-car.png"/>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <img class="rounded p-0 img-thumbnail" src="{{root}}assets/img/big-car.png"/>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <img class="rounded p-0 img-thumbnail" src="{{root}}assets/img/big-car.png"/>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <img class="rounded p-0 img-thumbnail" src="{{root}}assets/img/big-car.png"/>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <img class="rounded p-0 img-thumbnail" src="{{root}}assets/img/big-car.png"/>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <img class="rounded p-0 img-thumbnail" src="{{root}}assets/img/big-car.png" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-flex align-items-center justify-content-between flex-wrap my-3">
                                                <div class="md-w-100">
                                                    <ul class="pagination justify-content-center m-0 sm-text">
                                                        <li class="page-item border button-prev">
                                                            <a class="page-link" href="#" tabindex="-1"><img src="assets/img/icons/left.svg" alt="logo"></a>
                                                        </li>
                                                        <li class="page-item">
                                                            <div class="swiper-pagination position-inherit"></div>
                                                            <div class="ml-2">Pictures</div>
                                                        </li>
                                                        <li class="page-item border button-next">
                                                            <a class="page-link" href="#"><img src="assets/img/icons/right.svg" alt="logo"></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <button type="button" class="btn btn-light border px-4 d-none d-sm-block md-w-100 mt-3 mt-lg-0 sm-text">View all photos</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 pr-2 pl-2">
                                        <h4 class="font-weight-bold sm-md-title ">AUDI A3 sportback, SW 1.6 BlueHDi Ex. Pack long name</h4>
                                        <div class="d-flex align-items-center my-3">
                                            <a href="#" class="badge badge-danger rounded-0 px-2 py-1">2</a>
                                            <span class="font-weight-bold md-text ml-2">Car ID: 123123901</span>
                                        </div>
                                        <div class="bg-light p-2">
                                            <table class="table">
                                                <tbody>
                                                <tr class="border-bottom">
                                                    <td width="50%" class="border-0"><span>First registration date</span></td>
                                                    <td width="50%" class="border-0 ">2018-06-26</td>
                                                </tr>
                                                <tr class="border-bottom">
                                                    <td width="50%" class="border-0"><span>Fuel</span></td>
                                                    <td width="50%" class="border-0 ">
                                                        <img class="mr-1" src="{{root}}assets/img/icons/flag-us.svg" alt="icon">
                                                        Belgium
                                                    </td>
                                                </tr>
                                                <tr class="border-bottom">
                                                    <td width="50%" class="border-0"><span>Gearbox</span></td>
                                                    <td width="50%" class="border-0 ">
                                                        Automatic (6)
                                                    </td>
                                                </tr>
                                                <tr class="border-bottom">
                                                    <td width="50%" class="border-0"><span>Engine capacity</span></td>
                                                    <td width="50%" class="border-0 ">
                                                        1995 cm3
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="50%" class="border-0"><span>Engine capacity</span></td>
                                                    <td width="50%" class="border-0">
                                                        1995 cm3
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                        <h5 class="font-weight-bold p-2 md-text m-0">Vehicle examination</h5>
                                        <div class="p-2">
                                            <table class="table">
                                                <tbody>
                                                <tr class="border-bottom">
                                                    <td width="50%" class="border-0 px-0">Expertise made by</td>
                                                    <td width="50%" class="border-0 text-right">
                                                        <img class="mr-1" src="{{root}}assets/img/Image-2.png" alt="icon">
                                                    </td>
                                                </tr> 
                                                <tr class="border-bottom">
                                                    <td width="50%" class="border-0 px-0">Inspection report</td>
                                                    <td width="50%" class="border-0 text-right">
                                                        <img class="mr-1" src="{{root}}assets/img/icons/preview.svg" alt="icon">
                                                        <a href="#" class="text-muted"><u>View</u></a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            {{> banner}}
        </div>
    </div>
</div>