<div class="counting d-block d-md-flex align-items-center mr-0 mr-md-4">
    <div class="mr-2 text-nowrap mb-2 mb-md-0 text-center" >
        Cars online:
    </div>
    <div class="counting-digit d-flex justify-content-center">
        <div class="counting-digit-item d-flex align-items-center justify-content-center">
            <span>4</span>
        </div>
        <div class="counting-digit-item d-flex align-items-center justify-content-center">
            <span>3</span>
        </div>
        <div class="counting-digit-item d-flex align-items-center justify-content-center">
            <span>2</span>
        </div>
        <div class="counting-digit-item d-flex align-items-center justify-content-center">
            <span>1</span>
        </div>
    </div>
</div>