<div class="{{class}}">
    <div class="m-lan-box border-right-g">
        <div class="position-relative">
            <span class="d-flex cursor-pointer" data-toggle="dropdown">
                <span class="select-icon"><img src="{{root}}assets/img/icons/flag-us.svg" alt="img" /></span>
                    <span class="mx-2 text-uppercase" id="category">English</span>
                <span class="select-arr"><img src="{{root}}assets/img/icons/down.svg" alt="img" /></span>
            </span>
            <div class="dropdown-menu lan-box m-0 p-0">
                <div class="dropdown-item sm-text text-center text-uppercase cursor-pointer">Cestina</div>
                <div class="dropdown-item sm-text text-center text-uppercase cursor-pointer">deutsch</div>
                <div class="dropdown-item sm-text text-center text-uppercase cursor-pointer">dansk</div>
                <div class="dropdown-item sm-text text-center text-uppercase cursor-pointer">eesti</div>
                <div class="dropdown-item sm-text text-center text-uppercase cursor-pointer">English</div>
                <div class="dropdown-item sm-text text-center text-uppercase cursor-pointer">Espannol</div>
                <div class="dropdown-item sm-text text-center text-uppercase cursor-pointer">Suomi</div>
                <div class="dropdown-item sm-text text-center text-uppercase cursor-pointer">francias</div>
                <div class="dropdown-item sm-text text-center text-uppercase cursor-pointer">Hrvatski</div>
                <div class="dropdown-item sm-text text-center text-uppercase cursor-pointer">magyar</div>
                <div class="dropdown-item sm-text text-center text-uppercase cursor-pointer">italiano</div>
                <div class="dropdown-item sm-text text-center text-uppercase cursor-pointer">lietuvu</div>
                <div class="dropdown-item sm-text text-center text-uppercase cursor-pointer">laviesu</div>
                <div class="dropdown-item sm-text text-center text-uppercase cursor-pointer">nederlandes</div>
                <div class="dropdown-item sm-text text-center text-uppercase cursor-pointer">polski</div>
                <div class="dropdown-item sm-text text-center text-uppercase cursor-pointer">portugues</div>
                <div class="dropdown-item sm-text text-center text-uppercase cursor-pointer">romana</div>
                <div class="dropdown-item sm-text text-center text-uppercase cursor-pointer">pyccknn</div>
                <div class="dropdown-item sm-text text-center text-uppercase cursor-pointer">svenska</div>
                <div class="dropdown-item sm-text text-center text-uppercase cursor-pointer">slovenscina</div>
                <div class="dropdown-item sm-text text-center text-uppercase cursor-pointer">slovencina</div>
            </div>
        </div>
    </div>
    <div class="t-date">
        <span class="font-weight-6 mr-2 pr-1">2021-03-24</span>
        <span class="font-weight-6">12:34</span>
    </div>
</div>