<ul class="{{class}}">
  <li class="nav-item mb-4 mb-md-0">
    <a class="nav-link" href="/search.html">SEARCH</a>
  </li>
  <li class="nav-item mb-4 mb-md-0">
    <a class="nav-link active" href="/">AUCTIONS (68)</a>
  </li>
  <li class="nav-item mb-4 mb-md-0">
    <a class="nav-link" href="/packages.html">PACKAGES (10)</a>
  </li>
  <li class="nav-item mb-4 mb-md-0">
    <a class="nav-link" href="/broker-actual-cars.html">BROKERS (7)</a>
  </li>
  <li class="nav-item mb-4 mb-md-0">
    <a class="nav-link" href="/dashboard.html">MY DASHBOARD</a>
  </li>
  <li class="nav-item mb-4 mb-md-0">
    <a class="nav-link" href="#">SERVICES</a>
  </li>
  <li class="nav-item mb-4 mb-md-0">
    <a class="nav-link" href="#">INFORMATION</a>
  </li>
  <li class="nav-item mb-4 mb-md-0">
    <a class="nav-link" href="#">SELL CARS</a>
  </li>
</ul>
