{{!-- This is the base layout for your project, and will be used on every page. --}}
<!DOCTYPE html>
<html lang="en">

<head>

    <head>
        <meta charset="utf-8" />
        <title>Exleasingcar</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{root}}assets/fontawesome/css/all.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css" />
        <link rel="stylesheet" href="{{root}}assets/css/app.css" />
    </head>
</head>

<body>
    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
    <div class="main-wrapper">{{> header}} {{> body}} {{> footer}}</div>
   <!-- {{> global-chart}} -->
    <script src="{{root}}assets/js/libs/jquery.min.js"></script>
    <script src="{{root}}assets/js/libs/popper.min.js"></script>
    <script src="{{root}}assets/js/libs/bootstrap.min.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="{{root}}assets/js/libs/range.js"></script>
    <!--Plugin JavaScript file-->

    <script src="{{root}}assets/js/app.js"></script>
</body>

</html>